<mat-sidenav-container class="sidenav-container">
  <!--[opened]="!(isHandset$ | async)"-->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               opened="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="active" href="#">Início</a>
      <a mat-list-item href="#">Nova Conta</a>
      <a mat-list-item href="#">Enviar</a>
      <a mat-list-item href="#">Sair</a>
    </mat-nav-list>
  </mat-sidenav>

  <!--*ngIf="isHandset$ | async"-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Wallet</span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <!--
      *ngIf="true" hack is required here for router-outlet to work
      correctly. Otherwise, it won't register the changes on the
      layout and won't update the view.
     -->
    <router-outlet *ngIf="true"></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
