<div class="p-16" fxFlex="" fxLayout="column">
  <h1>Compartilhar</h1>

  <div fxFlex="" fxLayout="column">
      
    <div fxFlex="" fxLayout="column" fxLayoutAlign="center center">
      <span>Usando QRCode</span>
      <img  src="/assets/images/qrcode.png" alt="">
    </div>

    <div fxFlex="" fxLayout="column" fxLayoutAlign="center center">
      <span>Usando link de pagamento</span>
      <button routerLink="/panel/accounts" mat-stroked-button color="primary">
        Copiar link
      </button>
    </div>

  </div>
</div>
