<div class="p-16" fxFlex="">


  <form [formGroup]="transactionForm" (ngSubmit)="sendTransaction()" >
        <div *ngIf="state === 'FORM'" fxLayout="column">
          <h1>Enviar</h1>

          <h3>Origem</h3>
          <mat-form-field>
            <mat-select (selectionChange)="changeAccount($event)" placeholder="Selecionar conta">
              <mat-option *ngFor="let account of accounts" [value]="account">
                {{account.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <br>
          <h3>Destinatário</h3>
          <div fxLayout="row">
            <mat-form-field>
              <input matInput name="name"
                     placeholder="Endereço hash"
                     formControlName="recipient_hash"
                     required
                     type="text">
            </mat-form-field>

            <button [routerLink]="['../share']" mat-icon-button>
              <mat-icon>share</mat-icon>
            </button>
          </div>

          <br>
          <h3>Envio</h3>
          <mat-form-field>
            <input matInput name="amount"
                   placeholder="Valor"
                   formControlName="amount"
                   required
                   type="number">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput formControlName="description" placeholder="Descrição"></textarea>
          </mat-form-field>


          <div fxLayout="row" fxLayoutAlign="center center">
            <button [disabled]="transactionForm.get('account_hash').invalid || transactionForm.get('amount').invalid || transactionForm.get('recipient_hash').invalid" type="button" (click)="changeToConfirm()" mat-raised-button color="accent">
              Próximo
            </button>
          </div>
        </div>


    <div *ngIf="state === 'CONFIRM'" fxLayout="column">
      <h1>Confirmar</h1>

      <p>
        Origem: <b>{{selectedAccount.name}}</b> - <b>{{selectedAccount.hash}}</b>
      </p>
      <p>
        Destintário: <b>{{transactionForm.get('account_hash').value}}</b>
      </p>
      <p>
        Valor: <b>{{transactionForm.get('amount').value}}</b>
      </p>

      <p>
        Descrição: {{transactionForm.get('description').value}}
      </p>

      <mat-form-field>
        <input matInput name="pin"
               placeholder="PIN Conta"
               formControlName="pin"
               required
               type="password">
      </mat-form-field>



      <div fxLayout="row" fxLayoutAlign="center center">
        <button type="button" (click)="changeToForm()" mat-stroked-button color="accent">
          Voltar
        </button>
        <button type="submit" mat-raised-button color="accent" [disabled]="transactionForm.invalid">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>

